@import '~bootstrap/scss/bootstrap';
@import '~bootstrap/scss/bootstrap-grid';
@import './variables';

body{
    background-color:#e07a5f;
    color:$color_font;
}

.jumbotron{
    margin-top: 32px;
}

.open{
    min-width:100%;
}

.board:hover{
    cursor: pointer;
    box-shadow: 2px 2px 2px 2px rgb(0,0,0,0.4);
}

.home-container{
    display: flex;
    background: #f4f1de;
}

// .name_input_holder{
//     margin: auto auto;
//     display: none;
//     &.nick-active{
//         display: inline-grid;
//     }
//     #name_input{
//         height: 76px;
//         color: #fff;
//         text-align: center;
//         font-size: 36px;
//         width: 460px;
//         border: none;
//         background: transparent;
//         border-bottom: 1px solid #000;
//         &:focus{
//             outline: none;
//         }
//     }
// }

.create-btn{
    font-size: 26px;
    background-color: #3d405b;
}

.form-container{
    text-align: center;
    width: 100%;
    display: grid;
}

.room_input_holder{
    margin: auto auto;
    .room-input{
        height: 76px;
        color: #3d405b;
        text-align: center;
        font-size: 36px;
        width: 460px;
        border: none;
        background: transparent;
        border-bottom: 1px solid #000;

        &:focus{
            outline: none;
        }
    }
}

#canvas-1{
    background-color: white;
}

.active{
    display: block;
    border-radius: 5px;
}

.board{
    display: inline-block;
    width: 300px;
    height: 300px;
    background-color: white;
}

.no-active{
    display: none !important;
}