@import 'partials/variables';
@import 'partials/forms';
@import '~bootstrap-icons/font/bootstrap-icons.css';

nav {
	background-color: $nav-background;
	height: 100px;
}

body {
	background-color: $primary;
	overflow-x: hidden;
}

.content-rooms{
	margin-top:auto;
	margin-bottom:auto;
}

.error-room{
	color:red;
	display:block;
	height:auto;
	width:auto;
}

.jumbotron {
	margin-top: 32px;
	padding-top: 26px;
	padding-bottom: 26px;
	background: $secondary;
}

.saludo-usuario {
	font-size: 32px;
	font-weight: 600;
}

.open {
	min-width: 100%;
}

.board:hover {
	cursor: pointer;
	box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
}

.paleta-colores {
	background-color: grey;
	width: 350px;
	height: 100px;
	padding: 24px;
}

span {
	border-radius: 50%;
	width: 50px;
	height: 50px;
	display: inline-block;
	&:hover{
      	cursor: pointer;
  	}
	
	&:hover {
		cursor: pointer;
	}

	&#borrador {
		border-radius: 50%;
		display:inline-flex;
		justify-content:center;
		align-items:center;
		background-color: transparent;
	}
	
	&#pen {
		border-radius: 50%;
		display:inline-flex;
		justify-content:center;
		align-items:center;
		background-color: transparent;
	}

  	&#red {
		background-color: red;
	}

	&#blue {
		background-color: blue;
	}

	&#yellow {
		background-color: yellow;
	}

	&#green {
		background-color: green;
	}

	&#black {
		background-color: black;
	}
}

#canvas {
	background-color: white;
	width:auto !important;
	max-width: none !important;
	padding-right:0 !important;
	padding-left:0 !important;
	margin: 0 !important;
}

.error-404-page{
	color: white;
	margin: auto;
	width: 400px;
	font-size:20px;
	text-align: center;
	margin-top:50px;
	h1{
		font-size: 60px;
	}
}

.close-btn{
	background-color: red !important;
	width: 30px;
	height: 30px;
	border: 1px solid #5a0000;
	border-radius: 4px;
	position: absolute;
	right: 60px;
}